* {
    margin: 10px;
    padding: 0;
    font-family: Helvetica;
    box-sizing: content-box;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../pattern.jpg');
    margin: 50px 0px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: mediumspringgreen;
    margin: 25px 0px;
}